*{
    margin: 0;
    padding: 0;

}
body{
    width: 100%;
    height: 100vh;
    background-image: url(espace.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    
}
h1{
    color: #E4D8C9;
    font-size: 2rem;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 10%;
    text-decoration: underline;
    text-transform: uppercase;
    border: #E4D8C9 solid 1px;
    padding: 1rem;
    border-radius: 20px;
}

.earth{
    width: 30rem;
    height: 30rem;
    background-image: url(earth.jpg);
    background-size: 750px 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: inset 0px 0px 5px #FDFfF29E,
                inset 30px 0px 50px #000;
    animation: rotate 10s infinite linear;



}
#button{
    position: absolute;
    top: 80%;
    left: 45%;
    padding: 1rem;
    border-radius: 30px;
    width: 10rem;
    background: #E4D8C9;
    text-decoration: none;
    color: #030c5f;
    font-weight: 600;
    text-align: center;
    border: #030c5f 2px solid;

}
#button:hover{
    background: #030c5f;
    border: #E4D8C9 2px solid;
    color: #E4D8C9;
}
@keyframes rotate {
    0%{
        background-position-x:0px ;
    }
    100%{
        background-position-x: 3000px;
    }
}
@media screen and (max-width:1500px) {
    #button{
        left: 43%;
    }
    
}
@media screen and (max-width:1000px) {
    #button{
        left: 40%;
    }

}
@media screen and (max-width:700px) {
    #button{
        left: 35%;
    }
    h1{
    font-size: 1.5rem;

    }
}
@media screen and (max-width:500px) {
    #button{
        left: 28%;
    }
    .earth{
        width: 20rem;
        height: 20rem;
    }
    h1{
        top: 15%;
    
        }
}
@media screen and (max-width:400px) {
    #button{
        left: 23%;
    }
    h1{
        font-size: 1rem;
        top: 20%;
    
        }
}
@media screen and (max-width:350px) {
    #button{
        left: 30%;
        width: 5rem;
    }
    .earth{
        width: 15rem;
        height: 15rem;
    }
}
@media screen and (max-width:265px) {
    #button{
        left: 30%;
        top: 70%;
        width: 3.5rem;
        font-size: 0.8rem;
    }
    .earth{
        width: 10rem;
        height: 10rem;
    }
    h1{
        font-size: 1rem;
        top: 30%;
    
        }
}